<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Setări privind stocul -->
		<add key="Minimum_Stock_Alert" value="100" />

		<!-- Setări privind meniurile -->
		<add key="Discount_Menu_Percentage" value="10" />

		<!-- Setări livrare -->
		<add key="Free_Delivery_Threshold" value="150" />
		<add key="Delivery_Cost" value="20" />

		<!-- Setări reduceri pe comenzi -->
		<add key="Minimum_Order_For_Discount" value="150" />
		<add key="Days_For_Multiple_Orders" value="7" />
		<add key="Minimum_Orders_In_Days" value="3" />
		<add key="Discount_Percentage" value="10" />
	</appSettings>
	<!-- Conexiunea la bază de date -->
	<connectionStrings>
		<add name="myConStr"
			 connectionString="Data Source=LAPTOPUMEU\SQLEXPRESS;Initial Catalog=RestaurantDB;Integrated Security=SSPI;TrustServerCertificate=True;" />
	</connectionStrings>
</configuration>